<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content=""/>

	<title>{{ site.title }} · Live Talent Booking</title>

	<link rel="shortcut icon" type="image/png" href="{{ root_url }}/assets/favicon.png"/>
	<link rel="stylesheet" href="{{ root_url }}/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
